<div class="card">
  <div class="card-header">
    Add Course
  </div>
  <div class="card-body">
    <form >
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="email" class="form-control" placeholder="Enter title" />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Description</label
            >
            <textarea class="form-control"  rows="3" placeholder="Enter description"></textarea>
          </div>
          <div class="d-flex justify-content-center mb-3">
              <button type="button" class="btn btn-primary btn-lg">Save</button>
          </div>
    </form>
  </div>
</div>
